<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="java" arguments="-Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;D:\home\site\wwwroot\wg-kompass-0.0.1-SNAPSHOT.jar&quot;">
      <!-- Setzt das Profil auf 'prod' -->
      <environmentVariables>
        <environmentVariable name="SPRING_PROFILES_ACTIVE" value="prod" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>

